:root {

  --turquoise: #30d5c8;
  --color: white;
  --direction: 'normal';
  --height: 15rem;
  --width: 15rem;
  --bg: black;


}

* {
  box-sizing: border-box;
  user-select: none;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Everything Container */
main {
  transform-style: preserve-3d;
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
}

/* 3d-space-container */
#god {
  background-color: green;
  flex-grow: 1;
}
#space {
  overflow: hidden;
  background-color: var(--bg);
  flex-grow: 4;
}

.face {
  border-style: dotted;
  border-width: 1px;
  border-color: var(--color);
  position: absolute;
  border-radius: 100%;
  width: var(--width);
  height: var(--height);
  opacity: 0.3;
  filter: blur(1px);
}

#sphere {
  display: relative;
  transform-style: preserve-3d;
  position: relative;
  top: calc(50% - var(--height)/2);
  left: calc(50% - var(--width)/2);
  height: var(--height);
  width: var(--width);
  animation-name: rotate;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
   
    transform: rotateY(0deg) rotateX(360deg);
  }
  to {
    
    transform: rotateY(360deg) rotateX(0deg);
  }
}

/* Settings */

#settings-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
  transition: 0.5s;
  background-color: seashell;
}

#settings-container > * {
  
  all: unset;
  text-align: center;
  box-sizing: border-box;
  background: silver;
  
}






/* funny text */
h1 {
  background-color: white;
  display: none;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  position: relative;
  font-size: 1em;
  text-align: center;
  font-weight: 100;
}




