:root {

  --turquoise: #30d5c8;
  --color: white;
  --direction: 'normal';
  --height: 15rem;
  --width: 15rem;
  --bg: black;


}

* {
  box-sizing: border-box;
  user-select: none;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#open-menu-btn {
  z-index: 1;
  position: absolute;
  background-color: var(--color);
  width: 2em;
  height: 2em;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#open-menu-btn:hover {
  cursor: pointer;
}
#open-menu-btn > div {
  background-color: black;
  width: 1em;
  height: 3px;
}


/* Everything Container */
main {
  transform-style: preserve-3d;
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
}

/* 3d-space-container */
#god {
  background-color: green;
  flex-grow: 1;
}
#space {
  overflow: hidden;
  background-color: var(--bg);
  flex-grow: 3;
}

.face {
  border-style: dotted;
  border-width: 1px;
  border-color: var(--color);
  position: absolute;
  border-radius: 100%;
  width: var(--width);
  height: var(--height);
  opacity: 0.3;
  filter: blur(1px);
}

#sphere {
  display: relative;
  transform-style: preserve-3d;
  position: relative;
  top: calc(50% - var(--height)/2);
  left: calc(50% - var(--width)/2);
  height: var(--height);
  width: var(--width);
  animation-name: rotate;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
   
    transform: rotateY(0deg) rotateX(360deg);
  }
  to {
    
    transform: rotateY(360deg) rotateX(0deg);
  }
}

/* Settings */

#settings-container {
  z-index: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
  transition: 1s;
  background-color: seashell;
}

#general  {
  display: flex;
  flex-direction: column;
  background-color: salmon;
  flex-grow: 1;
  transition: 1s;
  overflow: hidden;
}

#general > * {
  all: unset;
}

#manipulate {
  display: flex;
  flex-direction: column;
  background-color: purple;
  flex-grow: 1;
  transition: 1s;
  overflow: hidden;
}






/* funny text */
h1 {
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  position: relative;
  font-size: 1em;
  text-align: center;
  font-weight: 100;
}




