
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

:root {
  font-size: 20px;
  --turquoise: #30d5c8;
  --color: #555;
  --direction: 'normal';
  --height: 15rem;
  --width: 15rem;
  --bg: #aaa;
  --rotx: 0deg;
  --roty: 0deg;
  --rotz: 0deg;
  --x: 0;
  --y: 0;
  --z: 0;
  --slideW: 20vw;
}
@media (max-width: 848px )  {
  :root {
    --slideW: 40vw;
  }
}
/* We don't want users being able to select text */
* {
  box-sizing: border-box;
  user-select: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: montserrat, sans-serif;
}



/* Everything Container */
html, body, main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* 3d-space-container */

#space {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform 1s ease;
  background-color: var(--bg);
}

#men-btn ~ label {
  position: absolute;
  background-color: transparent;
  z-index: 3;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  transition: transform 1s;
  top: 0;
  left: 0;
}

#men-btn:checked ~ #space {
  transform: translateX(var(--slideW));
}
#men-btn:checked ~ label {
  transform: translateX(var(--slideW));
}

.bar {
  width: 30px;
  height: 5px;
  background: var(--color);
  margin: 5px auto;
  border-radius: 5%;
  transition: 1s;
}

#men-btn:checked ~ label .top {
  transform: translateY(10px) rotateZ(135deg);
}
#men-btn:checked ~ label .bottom {
  transform: translateY(-10px) rotateZ(45deg);
}
#men-btn:checked ~ label .middle {
  width: 0;
}

#men-btn:checked ~ label .bar {
  background-color: red;
}




.face {
  border-style: solid;
  border-width: 1px;
  position: absolute;
  border-radius: 100%;
  width: var(--width);
  height: var(--height);
  opacity: 1;
  filter: blur(2px);
  transition: 3s;
  border-color: var(--color);
}




#sphere {
  position: absolute;
  transform-style: preserve-3d;
  transform: perspective(500px) rotateX(var(--rotx)) rotateY(var(--roty)) rotateZ(var(--rotz)) ;
  /* top: calc(50% - var(--height)/2); */
  left: calc(50% - var(--width)/2);
  height: var(--height);
  width: var(--width);
  
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

@keyframes rotate {
  0% {

    transform: translate3d(0,0,0) perspective(800px) rotateZ(var(--rotz)) rotateY(var(--roty)) rotateX(var(--rotx));
  }
  100% {

    transform: translate3d(8em,-2em, 0) perspective(800px) rotateZ(calc(180deg + var(--rotz))) rotateY(var(--roty)) rotateX(calc(180deg + var(--rotx)));
  }
  100% {

    transform: translate3d(0,0,0) perspective(800px)  rotateZ(calc(360deg + var(--rotz))) rotateY(var(--roty)) rotateX(calc(360deg + var(--rotx)));
  }
}

/* about */

#about {
  transform-style: preserve-3d;
  position: relative;
  background-color: white;
  width: 10em;
  height: 10em;
  margin: auto;
  box-shadow: 0 0 2em 1px #999;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1px;
  transition: 0.5s;
}
#about div {
  border: 1px solid black;
}


@keyframes hover {
  from {
    transform: perspective(200px) rotate3d(1,2,0,-15deg) translate3d(0,0em,0);
  }
  to {
    transform: perspective(200px) rotate3d(1,2,0, 15deg) translate3d(0,2em,0);
  }
}




/* Settings */



#settings-container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--slideW);
  color: #333;
  z-index: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 1s;
  background-color: seashell;
}

.set-item {
  padding: 0em 1.5em 0em;
  display: flex;
  flex-direction: column;
  height: 1.8em;
  flex-grow: 0;
  transition: 0.7s;
  overflow: hidden; 
}

#general  {
  background-color: salmon;
}

#manipulate {
  background-color: sandybrown;
}

.set-menu > *:not(.tab) {
  margin-bottom: 0.5em;
  all: unset;
  overflow: hidden;
  transition: 0.1s;
}

.set-menu > *:not(.tab):hover {
  color: white;
  background-color: #666;
}

.tab {
  font-weight: bolder;
  padding: 0.1em 0;
  font-size: 1.3em;
  text-align: right;
}


/* funny text */


#text {
  transition: 3s;
  z-index: 2;
  margin: auto;
  top: 60%;
  transform: translateY(-50%);
  color: var(--color);
  position: relative;
  font-size: 1em;
  text-align: center;
  font-weight: 100;
}







